@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');

.Bar{
    background-color: #eee6dd;
    width: 100%;
    height: 100%;
    
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: #683900 !important;
}
.img1{
    border-image: 100px;
    width: 30vh;
    height: 30vh;
    
}
.MuiAppBar-colorPrimary{
    background-color: transparent !important;
}
.font{
    color: black;
    font-size: 45px !important;
    font-weight: bolder;
    font-family: 'Wire One', sans-serif !important;

}
