@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.titulo{
    color: bisque;
    text-align: center;
} 

.back{
    background-image: linear-gradient(#a37f53,bisque);
    min-height: 75vh;
}
.button{
    border-color: rgb(27, 22, 22);
    color: "white";
    margin-left: 340px;
}
.aa{
    margin-top: 5px;
    }
.legend{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}
.texto1{
    color: aliceblue;
    font-size: 70px !important; 
    font-family: 'Wire One', sans-serif !important;
    text-align:right
}
.texto2{
    color: #c2b4a4;
    font-size: 50px !important; 
    font-family: 'Silkscreen', sans-serif !important;   
    text-align:right;
  
}

.icon{
    align-items:right;
    text-align: right;
}
